.card {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin: 20px auto; /* Отступ сверху и снизу, центрирование по горизонтали */
    max-width: 800px; /* Максимальная ширина контейнера */
    border: 1px solid #ddd; /* Окантовка вокруг контейнера */
    border-radius: 8px; /* Скругление углов */
    overflow: hidden; /* Скрытие содержимого за пределами контейнера */
}

.card__left {
    flex: 2; /* Занимает 2 части от пространства */
    padding: 20px; /* Внутренний отступ */
    color: #333; /* Цвет текста */
    font-family: 'Arial', sans-serif; /* Шрифт */
}

.card__right-img {
    flex: 1; /* Занимает 1 часть от пространства */
    display: flex;
    justify-content: center; /* Центрирование изображения */
    align-items: center; /* Вертикальное выравнивание */
    padding: 10px; /* Внутренний отступ */
}

.card__right-img img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px; /* Скругление углов изображения */
    margin-top: 27%;
}

h1 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

p {
    line-height: 1.6; /* Межстрочный интервал */
    font-size: 16px; /* Размер шрифта для описания */
}